@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --desktop: 1300px;

    --color-primary: #1e1d2b;
    --color-secondary: #ff702a;
    --white: #fff;
    --color-ternary: #ffefe8;
    --font-family: 'Poppins', sans-serif;
    --color-menu-movil: #2c2b47;
}

/* TAGS */

html {
    font-family: var(--font-family);
}

body {
    background-color: var(--color-primary);
}

a {
    text-decoration: none;
    color: var(--white);
    text-transform: capitalize;
}

ul {
    list-style: none;
}

p {
    color: var(--white);
    letter-spacing: 1px;
    line-height: 120%;
    margin-block: 2rem;
}

h1 {
    font-size: clamp(3rem, -1.6667rem + 10.6667vw, 7rem);
    margin: 0.5em 0;
}

h2 {
    color: var(--white);
    font-size: clamp(2rem, -0.3333rem + 5.3333vw, 4rem);
    margin: 0.5em 0;
}

h3 {
    font-size: clamp(1.5rem, -0.2500rem + 4.0000vw, 3rem);
    margin: 0.5em 0;
}

h4 {
    font-size: clamp(1.25rem, -0.2083rem + 3.3333vw, 2.5rem);
    margin: 0.5em 0;
}

img {
    width: 100%;
    object-fit: cover;
    object-position: center
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section span {
    color: var(--color-secondary);
    text-transform: capitalize;
    font-size: 1.2em;
}

/* HELPERS */
.btn {
    color: var(--white);
    background-color: var(--color-secondary);
    display: block;
    width: fit-content;
    padding: 1rem;
}

.container {
    max-width: var(--desktop);
    margin: 0 auto;
    padding: 2rem;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: var(--color-secondary);
    font-size: 1.5rem;
}

.header_nav {
    display: flex;
    gap: 3rem;
}

/* MAIN */
.main {
    padding: 1rem 4rem;
}

/* HOME */
section.home {
    height: calc(100vh - 150px);
}

/* .home__article,
.home__img {
    flex: 1;
} */

.home__title {
    font-weight: 400;
    color: var(--color-secondary);
}

.home__text {
    font-size: 1.2rem;
}

/* ABOUT */
/* .about__img,
.about__article {
    flex: 1;
} */

/* FOOD */
.food-menu {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.food-menu>span {
    display: block;
}

.food-menu__items {
    display: flex;
    gap: 1rem;
}

.food-menu__item {
    background-color: var(--color-ternary);
    padding: 1.5rem 2rem;
}

.food-menu__item p {
    color: var(--color-primary);
    margin-block: 0.2rem;
}

p.food-menu__item__type {
    font-size: 0.875rem;
}

p.food-menu__item__price {
    color: var(--color-secondary);
}

.service {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.service>span {
    display: block;
}

.service__items {
    display: flex;
    gap: 1rem;
}

.service__item__img img {
    width: 80%;
}

.service__item__title {
    color: var(--color-secondary);
    text-transform: capitalize;
    margin-top: 0;
}

.service__item p {
    color: var(--white);
    margin-block: 0.2rem;
    font-size: 0.875rem;
}

.quality {
    background-color: var(--color-ternary);
    display: block;
    text-align: center;
    height: auto;
    padding: 5em;
    margin: 3rem 0;
}

.quality__title {
    color: var(--color-primary);
}

.quality__btn {
    margin: 0 auto;
}

.footer {
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer__title {
    color: var(--white);
    position: relative;
    text-transform: capitalize;
}

.footer__title::after {
    content: '';
    width: 30%;
    height: 2px;
    background-color: var(--color-secondary);
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
}

.footer-nav-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
}

.footer-nav-items a {
    text-transform: capitalize;
}

@media screen and (700px > width) {

    /* TAGS */
    section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5rem;
    }

    /* HELPERS */
    .btn {
        padding: 0.825rem;
        margin: 0 auto;
    }

    /* HEADER */
    .header_nav {
        gap: 1rem;
    }

    /* MAIN */
    .main {
        padding-inline: 0;
    }

    /* HOME */
    .home__article {
        margin-bottom: 2rem;
    }

    /* ABOUT */
    .about {
        flex-direction: column-reverse;
    }

    .about__article,
    .about__img {
        flex: none;
    }

    /* FOOD */

    .food-menu {
        height: auto;
        display: initial;
    }

    .food-menu__items {
        margin: 0 auto 5em;
        flex-direction: column;
        width: 80%;
        align-items: center;
    }

    .food-menu__item {
        width: 50%;
    }

    /* SERVICE */
    .service {
        height: auto;
        display: initial;
    }

    .service__items {
        flex-direction: column;
        width: 80%;
        align-items: center;
        margin: 0 auto 5em;
    }

    .service__item {
        width: 80%;
        margin: 0 auto;
    }
}