@import url('normalize.css');
@import url('bases.css');

.container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    gap: 2rem;
}

.sidebar {
    height: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.sidebar__title:hover {
    color: var(--color-three);
}

.sidebar__nav {
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}

.sidebar__nav li {
    cursor: pointer;
    padding: 0.5rem;
}

.sidebar__nav li:hover {
    color: var(--color-one);
}


.main {
    flex: 1;
    padding: 2rem;
    background-color: #fff;
}

.main__title:hover {
    color: var(--color-one);
}

/* CAR */

.main__cards-container--car {
    display: initial;

}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    margin-bottom: 2rem;
}

.product__img {
    height: 150px;
 width: 150px;
}

.product__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}


.product > div{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.product > div:last-child{
    text-align: center;
}


.product h6 {
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}


.car__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
}

.car__footer a, 
.car__footer button{
    background-color: var(--color-one);
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    color: var(--color-text);
    cursor: pointer;
}

.car__footer a:hover, 
.car__footer button:hover{
    background-color: var(--color-one);
    color: var(--color-two);
}

.car__total {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.total h6{
    margin-bottom: 1rem;
    font-size: 1rem;
}

.total p {
    color: var(--color-four);

}
